// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

ion-content {
background: #ECE9E6; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(top, #ECE9E6, #FFFFFF);
background: -o-linear-gradient(top, #ECE9E6, #FFFFFF);
background: linear-gradient(to bottom, #ECE9E6, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    color: color($colors, primary) !important;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

dl {
    width: 100%;
}

ion-card {
    ion-card-header {
        > * {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    }
}

.toolbar-background {
    background-color: color($colors, dark);
}

.toolbar-title {
    color: white;
}

.flex--center {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

.font-large {
    font-size: 10rem;
    font-weight: normal;
    text-align: center;
}

.text-center {
    text-align: center;
}

.font-strong {
    font-weight: 700;
} 

@import "../pages/weather/weather";

@import "../pages/settings/settings";

@import "../pages/about/about";