<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="settings">
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-card padding>
          <ion-card-header>
            <p><strong>Current City:</strong> {{defaultCity}}</p>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label floating>Change Current City</ion-label>
                <ion-input (keyup)="getQuery()" [(ngModel)]="searchStr" type="text"></ion-input>
              </ion-item>
            </ion-list>
            <ion-list>
                <ion-item *ngFor="let result of results">
                    <a (click)="setDefaultCity(result)">{{result.name}}</a>
                </ion-item>
            </ion-list>
            <button block outline secondary (click)="saveChanges()">Save Default City</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
