.about {
    a {
        color: color($colors, primary);
        text-decoration: underline;
    }

    ul {
        padding-left: 1rem;
        list-style-type: none;
    }

    li {
        padding-left: 1rem;
        text-indent: -1rem;
    }
}