<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="about">
  <ion-card>
    <ion-card-header>
      <h1>Welcome to Simple Weather</h1>
    </ion-card-header>
    <ion-card-content>
      <p>Simple weather, is simply that a weather application that was developed using <a href="http://ionicframework.com/docs/v2/">Ionic version 2</a> and <a href="">AngularJS version 2</a>. I received instruction about building an Ionic 2 and AngularJS 2 app from <a href="https://www.udemy.com/learn-angular-2-development-by-building-10-apps/">Udemy.com</a>.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>Future updates</h2>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li><ion-icon name="flag"></ion-icon> Allow users to upload their own background image. It could be stored in localStorage or NativeStorage.</li>
        <li><ion-icon name="flag"></ion-icon> Effects depending on the current weather condition. Concept from Codrops <a href="http://tympanus.net/Development/RainEffect/">Rain &amp; Water Effects Experiment</a></li>
        <li><ion-icon name="flag"></ion-icon> Geolocation for detecting your current location incase you are sure.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>Known bugs</h2>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li><ion-icon name="bug"></ion-icon> Settings: when saving a default location it does <em>not</em> return to Weather page until the user restarts/refreshes app.</li>
        <li><ion-icon name="bug"></ion-icon> Search: when searching there is no way to return to current default temperature without refreshing/restarting the app.</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
