.weather {
	.flex--center {
		height: 100%;
	}
}

.weather {
	.full-height {
		height: 70vh;
	}
}

.item {
	padding-left: 0;
	dt {
		padding-left: 16px;
	}
}

.weather__stats {
    dt {
        float: left;
        margin-right: 1rem;
    }
}

// .bg {
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100vw;
//     z-index: -1;
// }

// .sunny {
// background: #FF8008; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
// background: -webkit-linear-gradient(top, #FF8008, #FFC837);
// background: -o-linear-gradient(top, #FF8008, #FFC837);
// background: linear-gradient(to bottom, #FF8008, #FFC837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .mt-cloudy,
// .foggy {
// background: #757F9A; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
// background: -webkit-linear-gradient(#757F9A, #D7DDE8);
// background: -o-linear-gradient(#757F9A, #D7DDE8);
// background: linear-gradient(#757F9A, #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .cloudy {
// background: #304352; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
// background: -webkit-linear-gradient(top, #304352, #d7d2cc);
// background: -o-linear-gradient(top, #304352, #d7d2cc);
// background: linear-gradient(to bottom, #304352, #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .ch-flurries {
// background: #ECE9E6; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
// background: -webkit-linear-gradient(top, #ECE9E6, #FFFFFF);
// background: -o-linear-gradient(top, #ECE9E6, #FFFFFF);
// background: linear-gradient(to bottom, #ECE9E6, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .flurries {
// background: #E0EAFC; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
// background: -webkit-linear-gradient(top, #E0EAFC, #CFDEF3);
// background: -o-linear-gradient(top, #E0EAFC, #CFDEF3);
// background: linear-gradient(to bottom, #E0EAFC, #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

body {
	font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #252445;
	background: #aaa;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #fff;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #252445;
}

.demo-2 a {
	color: #333;
}

.demo-2 a:hover,
.demo-2 a:focus {
	color: #444C75;
}


/* Header */

.codrops-header {
	padding: 2.5em 2em 0;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.demo-1 .codrops-header {
	position: absolute;
}

.codrops-header h1 {
	margin: 0 auto 0 0;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 1.65em;
	line-height: 1;
	display: inline-block;
}

.info {
	width: 100%;
}


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	margin: 0 1em 0 0;
}

.codrops-links::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 110%;
	background: #252445;
	content: '';
	-webkit-transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
	transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
	color: #488bce;
}

.codrops-icon--prev:before {
	content: "\e004";
}


/* Demo links */

.codrops-demos a {
	display: inline-block;
	font-weight: bold;
	color: #488bce;
}

.codrops-demos a:not(:last-child) {
	margin-right: 1em;
}

.codrops-demos a.current-demo {
	color: #252445;
}

.image-preload {
	position: absolute;
	left: -9999px;
}

.nosupport {
	display: none;
	margin: 0 auto;
	font-size: 1.25em;
	padding: 1em;
	position: fixed;
	bottom: 0;
	width: 100vw;
	text-align: center;
	background: #a74e71;
	z-index: 1000;
}

.no-webgl .nosupport {
	display: block;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 1.5em;
		text-align: center;
		display: block;
		font-size: 0.75em;
	}
	.codrops-links {
		display: block;
		margin: 0 0 1em;
	}
	.codrops-demos {
		width: 100%;
		font-size: 120%;
		margin: 1em 0 0 0;
	}
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/meteocons/icomoon.eot?26rom9');
	src: url('../fonts/meteocons/icomoon.eot?26rom9#iefix') format('embedded-opentype'), url('../fonts/meteocons/icomoon.ttf?26rom9') format('truetype'), url('../fonts/meteocons/icomoon.woff?26rom9') format('woff'), url('../fonts/meteocons/icomoon.svg?26rom9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--radioactive:before {
	content: "\e905";
}

.icon--sun:before {
	content: "\e900";
}

.icon--drizzle:before {
	content: "\e902";
}

.icon--rainy:before {
	content: "\e903";
}

.icon--storm:before {
	content: "\e906";
}

.bg {
	position: fixed;
	top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
	width: 100vw;
	background: url(../imgs/city.jpg) no-repeat center top;
	background-size: cover;
}

.slideshow::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 35vh 0 0 0;
	pointer-events: none;
	line-height: 1;
	font-family: "Roboto", sans-serif;
}

.slide--current {
	pointer-events: auto;
}

.slideshow__nav {
	text-align: center;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	bottom: 28vh;
}

.nav-item {
	display: block;
	padding: 1em;
	color: #252445;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.nav-item:hover,
.nav-item:focus,
.nav-item--current {
	color: #fff;
}

.nav-item .icon {
	font-size: 2em;
}

.nav-item span {
	display: block;
	margin: 0.25em 0 0 0;
	font-weight: 700;
}


/* Content */

.slide__element {
	opacity: 0;
	color: #252445;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.slide--current .slide__element {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slide__element--temp {
	font-size: 8em;
	font-weight: 700;
	margin: 0 0 0.1em;
}

.slide__element--temp small {
	font-size: 0.25em;
}

.slide__element--info {
	font-size: 2em;
}

.slide__element--date {
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 1em;
}

@media screen and (max-height: 39em) {
	.slideshow {
		font-size: 75%;
	}
	.slide {
		padding-top: 35vh;
	}
	.slideshow__nav {
		bottom: 6em;
	}
}