<ion-header>
  <ion-navbar>
    <ion-title>Weather</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="weather">
  <ion-grid *ngIf="weather">
      <ion-row>
        <ion-col width-100>
            <ion-searchbar (keyup)="getQuery()" [(ngModel)]="searchStr" type="text" value=""></ion-searchbar>
            <ion-list>
                <ion-item *ngFor="let result of results">
                    <a (click)="chooseCity(result)">{{result.name}}</a>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
        <ion-col *ngIf="weather" class="full-height" width-100>
            <div class="flex--center">
                <h2 class="location__full-name text-center">{{weather.display_location.full}}</h2>
                <p class="text-center font-strong">{{weather.weather}}</p>
                <p class="text-center font-strong">Feels like <br><span class="font-large">{{weather.feelslike_f}}&deg;</span></p>
                <p class="text-center font-strong">Actual temperature: {{weather.temp_f}}&deg;</p>
            </div>
            <div class="image-preload">
                <img src="build/imgs/drop-alpha.png" alt="">
                <img src="build/imgs/drop-color.png" alt="">
                <img src="build/imgs/weather/texture-rain-fg.png" />
                <img src="build/imgs/weather/texture-rain-bg.png" />
                <img src="build/imgs/weather/texture-sun-fg.png" />
                <img src="build/imgs/weather/texture-sun-bg.png" />
                <img src="build/imgs/weather/texture-fallout-fg.png" />
                <img src="build/imgs/weather/texture-fallout-bg.png" />
                <img src="build/imgs/weather/texture-drizzle-fg.png" />
                <img src="build/imgs/weather/texture-drizzle-bg.png" />
                </div>
                <canvas width="1" height="1" id="container" style="position:absolute"></canvas>
                <div *ngIf="weather.icon === 'clear'" class="bg sunny" data-weather="sunny">Clear</div>
                <div *ngIf="weather.icon === 'cloudy'" class="bg cloudy" data-weather="rain">Cloudy</div>
                <div *ngIf="weather.icon === 'flurries'" class="bg flurries" data-weather="flurries">Flurries</div>
                <div *ngIf="weather.icon === 'fog'" class="bg fog" data-weather="fog">Fog</div>
                <div *ngIf="weather.icon === 'hazy'" class="bg hazy" data-weather="hazy">Hazy</div>
                <div *ngIf="weather.icon === 'rain'" class="bg rain" data-weather="rain">Rain</div>
                <div *ngIf="weather.icon === 'tstorms'" class="bg storm" data-weather="storm">Storm</div>
                <div *ngIf="weather.icon === 'partlycloudy'" class="bg pt-cloudy">Partly Cloudy</div>
                <div *ngIf="weather.icon === 'mostlycloudy'" class="bg mt-cloudy">Mostly Cloudy</div>
                <div *ngIf="weather.icon === 'chancerain'" class="bg ch-rain" data-weather="drizzle">Chance of Rain</div>
                <div *ngIf="weather.icon === 'chancesleet'" class="bg ch-rain">Change of Sleet</div>
                <div *ngIf="weather.icon === 'chanceflurries'" class="bg ch-flurries">Chance of Flurries</div>
                <div *ngIf="weather.icon === 'chancesnow'" class="bg ch-snow">Chance of Snow</div>
                <div *ngIf="weather.icon === 'chancestorms'" class="bg ch-snow">Chance of Snow</div>
        </ion-col>
  </ion-grid>
  
</ion-content>
