<ion-tabs>
  <ion-tab [root]="weatherRoot" tabTitle="Weather" tabIcon="sunny"></ion-tab>
  <ion-tab [root]="settingsRoot" tabTitle="Settings" tabIcon="cog"></ion-tab>
  <ion-tab [root]="aboutRoot" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
